<h2>Applicants</h2>

<table>
    <tr>
        <th>Name</th><th>Email</th><th>Status</th><th>Update</th>
    </tr>

    {% for a in applicants %}
    <tr>
        <td>{{ a.full_name }}</td>
        <td>{{ a.email }}</td>
        <td>{{ a.status }}</td>
        <td>
            <form action="/update/{{ a.id }}" method="POST">
                <select name="status">
                    <option>Pending</option>
                    <option>Interviewing</option>
                    <option>Accepted</option>
                    <option>Rejected</option>
                </select>
                <button type="submit">Save</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
